
[submodule "Artemis/Artemis/libs/spdlog"]
	path = Artemis/Artemis/libs/spdlog
	url = https://github.com/Grobiani/spdlog
[submodule "Artemis/Artemis/libs/glfw"]
	path = Artemis/Artemis/libs/glfw
	url = https://github.com/Grobiani/glfw
[submodule "Artemis/Artemis/libs/glm"]
	path = Artemis/Artemis/libs/glm
	url = https://github.com/Grobiani/glm
[submodule "Artemis/Artemis/libs/freetype"]
	path = Artemis/Artemis/libs/freetype
	url = https://github.com/Grobiani/freetype
